@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
.shop-header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  background-color: #eee;
  width: 270px;
  height: 450px;
  margin: 10px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.card-image {
  height: 250px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card-title {
  padding: 0.3rem 0 0 0.3rem;
  font-size: 1.5rem;
  text-align: center;
}

.card-text {
  text-align: center;
}

.card-btn {
  align-self: center;
}

.cards:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
}

.card-rating {
  text-align: center;
  margin-bottom: 1rem;
}

/* --------------------------- */

.dropdown-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 400px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
}

.dropdown-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* ......................... */

@media (max-width: 600px) {
  .cart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    border-radius: 5px;
  }

  .cart-dropdown {
    display: none;
  }
}

.cart-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 1rem;
  margin-bottom: 2rem;
}

.cart-item {
  font-size: 1.5rem;
}
.cart-container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid grey;
  padding: 1rem;
}

.cart-image {
  max-width: 100px;
  max-height: 150px;
}
